.header{
    display: flex;
    height: 4rem;
    padding: 0.5rem 1em;
    background-color: black;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.input{
    flex-basis: 100%;
    outline: none;
    font-size: 1.3rem;
}

.button{
    background-color: darkgrey;
}

.search{
    padding: 0.5em 0.2em;
    height: 100%;
}