@value makerGreen, makerLightGrey from '/src/common/colors.css';

.editor{
    flex-basis: 50%;
    border-right: 1px solid makerLightGrey;
}

.title{
    color : makerGreen;
    width: 100%;
    text-align: center;
    font-size: 1em;
}